/* Reset CSS by Amaka Ndukwu */

/* making use of :where to allow for low specificity making it easy to override */


/* 1. border-box for box model */ 
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* 2. remove default margin 
padding is optional but i do this because of lists*/

:where(:not(dialog)) {
    margin: 0;
    padding: 0;
}


/* 3. great for in-page linking */
@media(prefers-reduced-motion:no-preference) {
    :where(html) {
        scroll-behavior: smooth;
    }
}

/* 4. line height and text rendering improvement */
:where(html) {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* 5. ensure full viewport height */
:where(html, body) {
    min-block-size: 100%;
}

/* 6. improve line wrapping */
:where(h1, h2, h3,
    h4, h5, h6) {
    text-wrap: balance;
}

:where(p) {
    text-wrap: pretty;
}

:where(figure)>:where(figcaption) {
    text-wrap: balance;
}

:where(p, h1, h2, h3,
    h4, h5, h6) {
    overflow-wrap: break-word;
}



/* 7. making media elements block-level */
:where(img,
    svg,
    video,
    canvas,
    picture,
    audio,
    iframe,
    embed,
    object) {
    display: block
}

:where(img, svg, video, canvas, picture) {
    block-size: auto;
    max-inline-size: 100%
}

/* 8. inherit font and letter spacing for form controls */
:where(input,
    button,
    textarea,
    select),
:where(input[type=file])::-webkit-file-upload-button {
    font: inherit;
    letter-spacing: inherit
}

/* 9. textarea can only resized vertically and will grow to adjust its content */
:where(textarea) {
    resize: vertical;
   field-sizing: content;
}

/* 10. table */
:where(table) {
    width: fit-content;
    border-collapse: collapse;
}

:where(pre) {
    direction: ltr;
    max-inline-size: max-content;
    min-inline-size: 0;
    white-space: pre;
    writing-mode: lr
}

:where(a[href],
    area,
    button,
    input:not([type=text],
        [type=email],
        [type=number],
        [type=password],
        [type=""],
        [type=tel],
        [type=url]),
    label[for],
    select,
    summary,
    [tabindex]:not([tabindex*="-"],
        pre)) {
    cursor: pointer
}

/*  this will disable additional non-standard gestures such as double-tap to zoom*/
:where(a[href],
    area,
    button,
    input,
    label[for],
    select,
    summary,
    textarea,
    [tabindex]:not([tabindex*="-"])) {
    touch-action: manipulation
}

/* My Custom CSS */
@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf);
}

:root {
    /* Colors */
    --dark-blue: #1F2937;
    --light-blue: #3882F6;
    --white: #F9FAF8;
    --off-white: #E5E7EB;
    --black: #1F2937;
    --ash: #E5E7EB;

    /* Font Size */
    --font-1: 48px;
    --font-2: 36px;
    --font-3: 24px;
    --font-4: 18px;
}

body {
    font-family: "Roboto", sans-serif;
}

::selection {
    color: var(--dark-blue);
    background: var(--white);
}

/* Header */
header {
    background: var(--dark-blue);
    padding: 6px 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

p.header-logo {
       color: var(--white);
       font-size: var(--font-3);
       font-weight: bold;
}

ul.header-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 12px;
}

a {
    text-decoration: none;
    color: var(--off-white);
    opacity: 90%;
}

/* Hero */
section.hero {
    background: var(--dark-blue);
    color: var(--white);
    padding: 50px 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.hero-lt {
    flex: 2;
    & p {
        line-height: 1.1em;
        color: var(--off-white);  
        opacity: 90%;
}
}

.hero-rt {
    flex: 3;
}

h1 {
    font-size: var(--font-1);
    font-weight: 900;
    line-height: 1.2em;
}

button {
    background: var(--light-blue);
    color: var(--white);
    padding: 6px 24px;
    margin-top: 12px;
    border-radius: 16%;
}

/* Info */
section.info {
    background: var(--white);
    color: var(--black);
    padding: 50px 8vw;
}

h2 {
    font-size: var(--font-2);
    font-weight: 900;
    text-align: center;
    margin-bottom: 24px;
}

.carousel-group {
    & img {
        border: 2px solid var(--light-blue);
        border-radius: 16%;
        width: 200px;
    }

    & p {
        max-width: 20ch;
        text-align: center;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
    /* align-content: space-between; */
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Quote */
.qot {
    background: var(--ash);
}

.quote {
    padding: 80px 8vw;
}

blockquote {
    &::before {
        content: open-quote;
    }

    &::after {
        content: close-quote;
    }

    quotes: "“" "”" "'" "'";
    text-indent: -0.45em;
    color: var(--black);
    font-size: var(--font-2);
    font-style: italic;
    font-weight: 300;
}

figcaption {
    color: var(--black);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: bold;
    text-align: right;
}



/* Responsive Design */
@media screen and (max-width: 768px) {
    .hero {
        display: flex;
        flex-flow: column-reverse wrap;
    }
}